/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

main {
    padding: 20px;
}

.profile-image {
    display: block;
    max-width: 150px;
    margin: 20px auto;
    border-radius: 50%;
}

h1, h2 {
    color: #333;
}

p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header {
        text-align: center;
    }
}

.bold-underline-name {
    font-weight: bold;
    text-decoration: underline;
}
