<div class="container">
    <img src="me.jpg" alt="Sanjay Krishna Gouda" class="profile-image">
    <div class="hero-content">
        <h1>Sanjay Krishna Gouda</h1>
        <p class="fade-in delay-1">I lead responsible AI research for Q-IDE (previously - Amazon CodeWhisperer). I also research long context training and inference methods for large language models.
        Previously, I have built neural and statistical methods for machine translation and cross-lingual information retrieval at Raytheon BBN Technologies.
        I have over 5 years of experience in building and deploying complex machine learning solutions ranging from algorithm research to end to end pipeline design.</p>
    </div>
</div>
